@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
  --bg_color: rgba(0, 214, 170);
  --primary-color: #444;
  --secondary-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*mobile display */
a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: var(--bg_color);
}
body {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;

  min-width: 400px;
}
/* form label {
  display: block;
  font-weight: bold;
  padding-top: 0.5em;
}
form input {
  border: 1px solid #717f86;
  border-radius: 0.5em;
  display: block;
  padding: 1em;
  width: 100%;
}

form input[type="submit"] {
  background-color: var(--bg_color);
  cursor: pointer;
  border: none;
  margin-top: 1em;
  width: 10em;
}

form select {
  border: 1px solid #717f86;
  border-radius: 0.5em;
  height: 3.5em;
  margin-top: 1em;
  width: 100%;
}
form textarea {
  border-radius: 0.5em;
  overflow: auto;
  padding: 1em;
  resize: vertical;
  width: 100%;
} */
footer {
  max-width: 100%;
  padding: 1em;
}
/* footer p {
  color: #717f86;
  margin-top: 1em;
} */
footer p {
  display: block;
  float: left;
}

footer ul {
  margin: 1em;
  float: right;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
}
footer img {
  opacity: 0.2;
  height: 2em;
  width: 2em;
}
footer a img:hover {
  background: var(--bg_color);
  border-radius: 50%;
  opacity: 1;
}
/* navigation styles */
header {
  background: var(--bg_color);
  position: relative;
  padding: 0.4em;

  text-align: center;
  width: 100%;
}

main {
  background-color: #edeff0;
  border-radius: 0.5em;
  margin: 10px auto;

  padding: 2em;
}

nav {
  background: var(--bg_color);
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  width: 100%;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav li a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;

  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
}

nav li a:hover {
  color: var(--secondary-color);
}

table {
  border: solid 1px #222;
  border-collapse: collapse;
  margin: 1em auto;
}
table td {
  border: solid 1px #222;

  padding: 0.4em;
}

table th {
  border: solid 1px #222;
  background: #edeff0;
  padding: 0.4em;
}
#bg {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
}

#contact_form {
  background: #edeff0;
}
#contact_form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#contact_form label {
  display: block;
}
#contact_form p {
  margin: 0;
}
#contact_form .full {
  grid-column: 1/3;
}
#contact_form input,
#contact_form textarea {
  border: 1px solid rgb(3, 180, 145);
  outline-color: rgb(3, 180, 145);
  padding: 1em;
  resize: vertical;
  width: 100%;
}
#contact_form input[type="date"] {
  height: 41px;
}
#contact_form input[type="submit"] {
  border: 0;
  background: var(--bg_color);
  text-transform: uppercase;
}
#contact_form input[type="submit"]:hover,
#contact_forminput[type="submit"]:focus {
  background: rgb(3, 180, 145);
  color: var(--secondary-color);
  outline: 0;
}

#contact_form select {
  border-radius: 0;
  height: 41px;
  width: 100%;
}

#project_div {
  margin: 0 auto;
  background: #edeff0;
  padding: 1em;
  width: 90%;
}
#project_div ul {
  list-style-type: none;
}
#project_div a {
  color: #222;
  text-decoration: none;
}
#wrapper {
  box-shadow: 0 0 20px 0 var(--bg_color);
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  margin-top: 50px;
}
#wrapper > * {
  padding: 1em;
}
.logo {
  height: 4em;
  max-width: 100%;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  align-items: center;
  display: flex;
  left: 0;
  height: 100%;
  margin-left: 1em;
  position: absolute;
  top: 0;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  background: white;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: relative;
  width: 2em;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* media queries */
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  footer p {
    display: block;
    float: left;
  }

  footer ul {
    margin: 1em;
    float: right;
    list-style-type: none;
  }

  footer ul li a {
    text-decoration: none;
  }

  footer ul li {
    display: inline;
  }

  footer ul li a img {
    display: inline;
  }

  footer span {
    display: none;
  }

  header {
    display: grid;

    grid-template-columns: 100px 1fr;
    margin: 0;
    padding: 0;
  }

  nav {
    all: unset;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }

  nav li {
    margin-left: 10px;
    margin-bottom: 0;
  }

  nav li a {
    font-size: 20px;

    position: relative;
  }

  nav li a::before {
    background: var(--primary-color);
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: -0.75em;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav li a:hover::before {
    transform: scale(1, 1);
  }
  #bg {
    display: block;
    height: auto;
    max-height: 480px;
    margin: auto;
    max-width: 100%;
  }
  .logo {
    font-size: 18px;
    height: 5em;
    grid-column: 1 / span 1;
    padding: 0.3em;
    width: 6em;
  }
  #wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #wrapper * {
    padding: 1em;
  }
}

@media screen and (min-width: 1024px) {
  nav li a {
    font-size: 24px;
  }
}
