* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}


footer {
    background-color: #162416;
    color: #f0f1f0;
    font-size: 14px;
    height: 30px;
    margin: 0;
    opacity: 0.8;

    width: 100%;

}

footer li a:hover {
    background-color: green;
}
footer ul {
    margin: 0;
    padding: 2px;
    list-style: none;
}
footer ul li {
    float: right; 
    font-size: 14px;
}
footer ul li a {
    display: block;
    text-decoration: none;
}


/* header {
    background-image: url("../site-assets/landmarks_small.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
} */
main {
    margin:  auto;
    padding: 2em;
    width: 70%;
}

nav {
    background-color: #162426;
    float: right;
    opacity: 0.8;
    width: 100%;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    color: #f0f1f0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

}

nav li {
    background-color: #162426;
    display: inline-block;
    padding: 5px;
    text-align: center;

}

nav ul li a:hover {
    background-color: green;

}

nav ul li ul li {
    display: none;
}

nav ul li:hover ul li {
display: block;
padding: 0;
    }


p {

    padding: 5px;
}



#logo {
    background-image: url("../site-assets/small_logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 50px;
    width: 50px;

}

#container {
    margin: 0 auto;
    max-width: 95%;
    width: 80%;
}

@media only screen and (max-width: 1024px) {
    header {
        background-size: 100% 100%;
    }

    main {
        width: auto;
    }

    nav ul li {
        display: inline;
    }

}

@media only screen and (max-width: 768px) {
    header {
        display: none;
    }

    main {
        padding: 2px;
        clear: both;
    }

    nav {
        width: auto;
    }

    nav li {
        float: left;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }


    footer {
        width: auto;
        font-size: 8px;
    }

    footer ul li {
        width: 70px;
    }
}