@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --background: rgba(0, 214, 170, .85);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;


}

footer p {
    color: #717f86;
    margin-top: 1em;

}

footer ul {
    padding-left: 0.5em;
    list-style-type: none;
}

footer img {
    opacity: 0.2;
    height: 2em;
    width: 2em;
}

/* navigation styles */
header {
    background: var(--background);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

main {
    background-color: #edeff0;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 1em;

}

nav {
    background: var(--background);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    ;
    list-style-type: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav li a {
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;

}

nav li a:hover {
    color: black;
}

table {
    border: solid 1px #222;
    border-collapse: collapse;
    margin: 1em auto;
}

table td {

    border: solid 1px #222;
}

table th {
    border: solid 1px #222;
    background: #edeff0;
}

#content {
    padding: 0.5em;
    position: relative;
    top: 3em;
}

#bg {
    display: none;
}

.logo {
    height: 2em;
    width: 3em;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    align-items: center;
    display: flex;
    left: 0;
    height: 100%;
    margin-left: 1em;
    position: absolute;
    top: 0;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: relative;
    width: 2em;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

/* media queries */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    /* footer::before {
        background:#717f86;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        opacity: .1;
        right: 0;

    } */

    footer p {
        display: block;
        float: left;
    }

    footer ul {
        margin: 1em;
        float: right;
        list-style-type: none;
    }

    footer ul li a {
        text-decoration: none;
    }

    footer ul li {
        display: inline;
    }

    footer ul li a img {
        display: inline;
    }

    footer span {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    nav {
        all: unset;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        grid-column: 2/3;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    nav li {
        margin-left: 10px;
        margin-bottom: 0;
    }

    nav li a {
        opacity: 1;
        position: relative;
    }

    nav li a::before {
        background: #222;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        top: -0.75em;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;

    }

    nav li a:hover::before {
        transform: scale(1, 1);
    }

    #bg {
        border-radius: 5px;
        display: block;

        height: 16em;
        width: 100%;
    }

    #content {
        border-radius: 5px;
        font-size: 18px;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        max-width: 90%;
        top: 6em;
        width: 100%;
    }

    .logo {
        font-size: 18px;
        height: 4em;
        grid-column: 1 / span 1;
        padding: 0.5em;
        width: 5em;
    }

}