/*
Assignment Name: Yoga path of Light Studio css file
File Name: yoga.css
Date: 10/10/18
Programmer: Augusto DelValle
*/

body {
    background-color: #3F2860;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

footer {
    background-color: #9BC1C2;
    font-size: .60em;
    font-style: italic;
    padding: 1em;
    text-align: center;
}

header {
    background-color: #9BC1C2;
    background-image: url("../images/lilyheader.jpg");
    background-repeat: no-repeat;
    background-position: right;
    color: #FFFFFF;
    text-align: center;
    height: 150px;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

main {
    padding-left: 2em;
    padding-right: 2em;
}

nav {
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
}

.studio {
    font-style: italic;
}

#hero {
    text-align: center;
}

#wrapper {
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
#yogadoor {
    float: right;
    height: 300px;
    width: 200px;
}
