
/* Assignment Name: Mini photo gallery
File Name: photo_gallery.css
Date: 10/15/18
Programmer: Augusto DelValle */
body {
    background-color: #f9dec9;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 90%;
}
